
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myVideoLabel" translate="liveTrackApp.video.home.createOrEditLabel">Create or edit a Video</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.video.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="liveTrackApp.video.courseCathegory" for="field_courseCathegory">CourseCathegory</label>
            <input type="text" class="form-control" name="courseCathegory" id="field_courseCathegory"
                    ng-model="vm.video.courseCathegory"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="liveTrackApp.video.courseName" for="field_courseName">CourseName</label>
            <input type="text" class="form-control" name="courseName" id="field_courseName"
                    ng-model="vm.video.courseName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="liveTrackApp.video.coursePath" for="field_coursePath">CoursePath</label>
            <input type="text" class="form-control" name="coursePath" id="field_coursePath"
                    ng-model="vm.video.coursePath"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="liveTrackApp.video.courseDescription" for="field_courseDescription">CourseDescription</label>
            <input type="text" class="form-control" name="courseDescription" id="field_courseDescription"
                    ng-model="vm.video.courseDescription"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
