
<div>
    <h2><span translate="liveTrackApp.video.detail.title">Video</span> {{vm.video.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="liveTrackApp.video.courseCathegory">CourseCathegory</dt></dt>
        <dd>
            <span>{{vm.video.courseCathegory}}<span>
        </dd>
        <hr>
        <dt><span translate="liveTrackApp.video.courseName">CourseName</dt></dt>
        <dd>
            <span>{{vm.video.courseName}}<span>
        </dd>
        <hr>
        <dt><span translate="liveTrackApp.video.courseDescription">CourseDescription</dt></dt>
        <dd>
            <span>{{vm.video.courseDescription}}<span>
        </dd>
        <hr>
        <dt><span translate="">Vidéo du cours :</dt></dt><br><br>
        <dd>
<!--             <span>{{vm.video.coursePath}}<span> -->
                <video width="70%" height="60%" controls>
                    <source src={{vm.video.coursePath}} type="video/mp4">
                </video>
        </dd>
        
        <hr>
        
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
