<div>
    <h2 translate="liveTrackApp.video.home.title">Videos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
  
            <div has-authority="ROLE_ADMIN" class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="video.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="liveTrackApp.video.home.createLabel">
                        Create new Video
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'liveTrackApp.video.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseCathegory"><span translate="liveTrackApp.video.courseCathegory">CourseCathegory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseName"><span translate="liveTrackApp.video.courseName">CourseName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="coursePath"><span translate="liveTrackApp.video.coursePath">CoursePath</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseDescription"><span translate="liveTrackApp.video.courseDescription">CourseDescription</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="video in vm.videos track by video.id">
                    <td><a ui-sref="video-detail({id:video.id})">{{video.id}}</a></td>
                    <td>{{video.courseCathegory}}</td>
                    <td>{{video.courseName}}</td>
                    <td>{{video.coursePath}}</td>
                    <td>{{video.courseDescription}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button  type="submit"
                                    ui-sref="video-detail({id:video.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button has-authority="ROLE_ADMIN" type="submit"
                                    ui-sref="video.edit({id:video.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button has-authority="ROLE_ADMIN" type="submit"
                                    ui-sref="video.delete({id:video.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
