<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="liveTrack img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="">Bienvenue, LiveTrack!!</h1>
            <p class="lead" translate="">Regardez votre cours en un seul clic</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="" translate-values="{username: '{{vm.account.login}}'}">
                    Bonjour "{{vm.account.login}}".
                </div>


                <div class="alert alert-warning" ng-switch-when="false" translate="" translate-compile>
                    Vous n'êtes pas encore inscrit? <a class="alert-link" ui-sref="register">Nous vous invitons à vous inscrire </a>
                </div>
            </div>

            <p translate="">
               Avec LiveTrack rien n'est perdu visualisez notre selection de cours en illimité,
               Vous n'avez rien Raté !!
            </p>
            <p>Venez voir notre Site de l'équipe</p>
            <ul>
                <li><a href="http://livetrack-team.com/" target="_blank" translate="">Notre site de l'équipe</a></li>
            </ul>

            <p>
             <span translate="">Si vous aimez LiveTrack ou vous avez un commentaire n'hesitez pas a un nous laisser un petit message sur le site de l'equipe rubrique</span>&nbsp;<a href="http://livetrack-team.com/?page_id=116" target="_blank" translate="">nous Contacter </a>!
            </p>
        </div>
    </div>
</div>
